@import '../variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;

  div.logo {
    width: 512px;
    border-radius: 22px;

    background: {
      image: url('/assets/spacegrid.png');
      repeat: round;
      position: center;
      attachment: fixed;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;

      span {
        color: lawngreen;
        margin: {
            left: 19px;
            right: 42px;
        }
        width: 100%;
        text-align: center;

        font: {
          family: 'Chakra Petch', Verdana, Arial, Helvetica, sans-serif;
          weight: bold;
          size: 50px;
        }
      }
    }

    img {
      height: 72px;
      vertical-align: middle;

      margin: {
        left: 13px;
        right: 7px;
      }
    }
  }
}

main {
  min-width: 768px;
  max-width: 1536px;

  p {
    margin: {
      right: 9rem;
      bottom: 1rem;
    }

    text-indent: 1rem;
  }
}


footer {
    font-size: small;
    color: $primary-accent-color;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 0;
}
