div {
  .nms-ingredient-info {
      border: 3px dotted purple;
  }

  .nms-ingredient-row {
    display: inline-block;
    border: 1px solid red;
  }

  .nms-recipe-node {
    display: inline-block;
    clear: right;
    border: 5px solid green;
  }
}
