.nms-recipe-node {
  display: inline-block;

  div {
    border: 1px solid red;
    width: auto;
  }

  h2 {
    font-size: small;
  }
}

.nms-ingredient-row {
  div {
    border: 1px solid yellow;
    width: auto;
    display: inline-block;
  }
}
