@import '../../../../../variables';

.contact-form {
  width: 45%;
  min-width: 400px;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;

    input {
      width: 100%;
    }

    label:not(:first-child) {
      margin-left: 10px;
    }
  }

  label {
    color: $primary-heading-color;
    flex-grow: 1;
    margin-right: 10px;

    font: {
      family: 'Share Tech Mono', monospace;
      weight: bold;
      size: large;
    }
  }

  textarea {
    width: 100%;
    height: 100px;
    resize: none;
  }

  .button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
  }
}
