<form (ngSubmit)="sendMessage()">
    <div class="contact-form">
        <div class="row">
            <label for="name">Name:</label>
            <input matInput type="text" name="name" [(ngModel)]="model.contactName" required maxlength="250" />
            <label for="email">Email:</label>
            <input matInput type="email" name="email" [(ngModel)]="model.contactAddress" required maxlength="250" />
        </div>
        <div class="row">
            <label for="message">Message:</label>
            <textarea matInput name="message" [(ngModel)]="model.messageContent" required maxlength="7500"></textarea>
        </div>
        <div class="button-row">
            <button type="reset" (click)="resetForm()">Reset</button>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
