@import '../../../../../variables';

.contact-form {
  width: 45%;
  min-width: 400px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 100%; // Allow form to take full width on smaller screens
    min-width: unset;
    padding: 20px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    input {
      width: 100%;
      min-width: 100px;
    }

    @media(min-width: 769px) {
      label:not(:first-child) {
        margin-left: 10px;
      }
    }
  }



  label {
    color: $primary-heading-color;
    flex-grow: 1;
    margin-right: 10px;

    font: {
      family: 'Share Tech Mono', monospace;
      weight: bold;
      size: large;
    }
  }

  textarea {
    width: 100%;
    height: 100px;
    resize: none;
  }

  .button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
  }
}
