<div class="container">
    <div *ngIf="!model">No messages.</div>
    <table *ngIf="model">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of model" [ngClass]="getRowClass(message)" (click)="selectMessage(message.messageId)">
                <td>{{message.messageTimestamp | date:'short'}}</td>
                <td>{{message.contactName}}</td>
                <td>{{message.contactAddress}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="readMessage" class="message-box">
        <p>{{readMessage.contactName}} ({{readMessage.contactAddress}})</p>
        <p>{{readMessage.messageTimestamp | date:'short'}} ({{readMessage.requestSource}}@{{readMessage.formSource}})</p>
        <p>{{readMessage.messageContent}}</p>
    </div>
</div>
