@use 'sass:color';
@use '../../../../../palette';

$messagelist-rowcolor: color.adjust(palette.$secondary-accent-color, $lightness: 13%);

.list-unread {
  background-color: color.invert($messagelist-rowcolor);
  color: $messagelist-rowcolor;
}

.list-read {
  background-color: $messagelist-rowcolor;
  color: color.invert($messagelist-rowcolor);
}

.list-selected {
  border: 1px solid orange;
}

.messagelist-sidebar {
  flex-direction: column;

  table {
    order: 2;
  }
}

div.messagelist-filters {
  order: 1;
  flex-direction: row;
  display: flex;

  .messagelist-unreadfilter {
    order: 1;
  }

  .messagelist-pagenumbers {
    order: 3;
  }

  .messagelist-prevpage {
    order: 2;
  }

  .messagelist-nextpage {
    order: 4;
  }
}


.messagelist-view {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: auto;
  order: 2;
}

.messagelist-container {
  margin-top: 13px;
  display: flex;
  flex-direction: row;
}
