@import '../../../../../variables';

$messagelist-rowcolor: darken($secondary-accent-color, 13%);

.unread {
  background-color: $messagelist-rowcolor;
  color: invert($messagelist-rowcolor);
}

.read {
  background-color: invert($messagelist-rowcolor);
  color: $messagelist-rowcolor;
}

.message-box {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  height: auto;
}
