@import '../../../variables';

.contact-form {
  div {
      width: 80%;
  }

  label {
    color: $primary-heading-color;
    font: {
      family: 'Share Tech Mono', monospace;
      weight: bold;
    }
  }

  .contact-details {
      input {
          width: 220px;
          margin-right: 13px;
      }
  }

  .contact-message {
      label {
          vertical-align: top;
      }
      textarea {
          width: 70%;
      }
  }

  button {
    display: block;
    color: $primary-color;
    background-color: $primary-accent-color;
    height: 22px;

    border: {
      color: $secondary-accent-color;
      radius: 5px;
    }
  }
}
