<div>
  <p>Born in Texas, I spent time in Australia before returning home. My passion for coding began early, and I dedicated myself to honing my software development skills. I've always been fascinated by how programming shapes our world, recognizing the intricate systems that power our everyday experiences. I'm constantly excited by technological advancements and the endless possibilities they unlock.</p>
  <p>With over a decade of experience in the field, I've held positions as a software developer, data warehouse engineer, and business intelligence analyst. This diverse background has cultivated a keen eye for detail and a deep understanding of what can be achieved through innovative technology. I'm eager to contribute my skills and knowledge to impactful projects.</p>
</div>
<div class="aboutrow">
    <div class="aboutlist">
        <p>My technical skills include:</p>
        <ul>
            <li>Microsoft C# (both the modern .NET platform and legacy .NET Framework)</li>
            <li>ASP.NET Core Web API and MVC</li>
            <li>Angular, CSS/SCSS, JavaScript/TypeScript, HTML</li>
            <li>PHP, Python, Go, Java, and other programming languages</li>
            <li>Microsoft SQL Server, including the business intelligence stack</li>
            <li>Cloud-based project development and management in AWS and Azure</li>
            <li>Data warehouse design using Kimball and Data Vault modelling</li>
        </ul>
    </div>
    <div class="aboutlist">
        <p>Links:</p>
        <ul>
            <li><a href="https://stackoverflow.com/users/201021/mike-d">Stack Overflow</a></li>
            <li><a href="https://github.com/exceptionalnull">GitHub</a>
            <li><a href="https://www.linkedin.com/in/mike-denton-6b243457/">LinkedIn</a></li>
        </ul>
    </div>
</div>
<div>
    <p>Please <a href="https://api.eondata.net/api/fshare/files/miked-cv-web.pdf" target="_blank" rel="noopener noreferrer">download my CV</a> or reach out to me:</p>
    <app-contact-send-message source="aboutme"></app-contact-send-message>
</div>
