<p>With over ten years of experience designing software, I have developed expertise in a wide range of technologies and specialties. While my background in business intelligence has been a core focus, my skills extend to all areas of software development. I specialize in back-end development, but I am also capable of full-stack development and managing cloud-based infrastructure. With a strong understanding of the user experience and the technology stack that supports it, I am confident in my ability to help your company achieve its goals.</p>
<p>My technical skills include:</p>
<ul>
    <li>Microsoft C# (.NET 6/7 and Framework 4)</li>
    <li>Angular and C# Web API for web application development</li>
    <li>PHP, Python, Java, and other programming languages</li>
    <li>Microsoft SQL Server, including the business intelligence stack</li>
    <li>Cloud-based project development and management in AWS and Azure</li>
    <li>Data warehouse design using Kimball and Data Vault modelling</li>
</ul>
<!--<p>You can <a href="/assets/miked-cv-web.pdf">download my CV</a> or <a href="mailto:mike@eondata.net">contact me</a>.</p>-->
<p>You can <a href="/assets/miked-cv-web.pdf">download my CV</a> or contact me:</p>
<app-contact-form source="aboutme"></app-contact-form>
