<p>With over ten years of experience designing software, I have developed expertise in a wide range of technologies and specialties. While my background in business intelligence has been a core focus, my skills extend to all areas of software development. I specialize in back-end development, but I am also capable of full-stack development and managing cloud-based infrastructure. With a strong understanding of the user experience and the technology stack that supports it, I am confident in my ability to help your company achieve its goals.</p>
<ul>
    <li>Proficient with Microsoft C# including the latest .NET 6/7 but still knowledgeable in Framework 4.</li>
    <li>Experienced with web application development using Angular and C# Web API.</li>
    <li>Also has experience with PHP, Python, Java and many other programming languages.</li>
    <li>Proficient with Microsoft SQL Server with a focus on the business intelligence stack.</li>
    <li>Proficient with developing and managing cloud-based projects in AWS and Azure.</li>
    <li>Proficient at data warehouse design using Kimball and Data Vault modeling.</li>
</ul>
