.eonshare-container {
  div {
    margin-top: 22px;
  }
}

.eonshare-row {
  div {
    height: 30px;
    margin-bottom: 9px;
  }

  img {
    height: 22px;
    margin-right: 7px;
  }
}

a.folderNav {
  color: white; // Default link color

  &:visited {
    color: white; // Color for visited links
  }
}

i.folderNav {
  font-size: large;
}


.eonshare-filesize {
  font-size: small;
  color: lightgray;
  margin-left: 5px;
}
