<div class="eonshare-container">
  <div class="eonshare-directory">
    <!-- Folder: <select [(ngModel)]="currentFolderKey">
    <option *ngFor="let folder of getAllFolders()" [value]="folder">/{{folder}}</option>
  </select> -->
  <div>
    @if (this.currentFolderKey !== '') {
      <a [routerLink]="['..']" class="folderNav"><mat-icon>arrow_upward</mat-icon></a>
      }&nbsp;Folder: /{{currentFolderKey}}
    </div>
  </div>
  @if (fileShare.length == 0) {
    <mat-progress-spinner></mat-progress-spinner>
  }
  @if (fileShare.length > 0) {
    <div>
      @for (folder of getSubfolders(); track folder) {
        <div class="eonshare-row">
          <mat-icon>folder</mat-icon>&nbsp;
          <a [routerLink]="folder">{{folder}}</a>
        </div>
      }
      @for (file of getFiles(); track file) {
        <div class="eonshare-row">
          <mat-icon [matTooltip]="file.lastModified | date:'short'">description</mat-icon>&nbsp;
          <a [href]="getDownloadUrl(file.key)" target="_blank">{{file.name}}</a>
          <span class="eonshare-filesize">{{humanReadableSize(file.size)}}</span>
        </div>
      }
    </div>
  }
</div>
