<div>
    <label for="item-select">Choose an item:</label>
    <select name="item-select" [(ngModel)]="selectedItem" (change)="pickedItem(selectedItem)">
        <option *ngFor="let itm of items" [value]="itm.itemId">{{itm.itemName}}</option>
    </select>
</div>
<div *ngFor="let itemInfo of getItemDetails()">
    <div>
        <h2>{{itemInfo?.itemName}}</h2>
        <img [src]="itemInfo?.picture" />
        <p>Price: {{itemInfo?.itemCost}}</p>
        <div *ngFor="let recipeInfo of getRecipesByItem(itemInfo?.itemId)">
            <h3>{{recipeInfo.recipeName}}</h3>

        </div>
    </div>
</div>
