$primary-background-color: #333333;
$primary-background-color2: #5F758E;
$primary-color: #FAF0E6;
$primary-heading-color: #1A237E;
/*$primary-accent-color: #006400;*/
$logo-label-color: #00DA00;
$primary-accent-color: #007400;
$secondary-accent-color: #4A148C;
$footer-copy-text-color: darken($logo-label-color, 9%);
