$primary-background-color: #333333;
$primary-background-color2: #5F758E;
$primary-color: #FAF0E6;
$primary-heading-color: #1A237E;
/*$primary-accent-color: #006400;*/
$logo-label-color: #00bc00;
$primary-accent-color: #006400;
$secondary-accent-color: #4A148C;
