@use './palette';

body {
  background-color: palette.$primary-background-color2;
  color: palette.$primary-color;

  a {
    color: mediumblue;

    &:visited {
      color: rebeccapurple;
    }

    &:hover {
      color: limegreen;
    }
  }

  font: {
    family: 'Montserrat', sans-serif;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p { text-indent: 1em; }
