@import 'variables';

body {
  background-color: $primary-background-color2;
  color: $primary-color;

  a {
    color: mediumblue;

    &:visited {
      color: rebeccapurple;
    }

    &:hover {
      color: limegreen;
    }
  }

  font: {
    family: 'Montserrat', sans-serif;
  }

  margin: {
    top: 22px;
    left: 13%;
    right: 19%;
    bottom: 7px;
  }

  @media screen and (max-width: 768px) {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 2%; // Add padding for smaller screens
  }
}
