@import 'variables';

body {
  background-color: $primary-background-color2;
  color: $primary-color;

  font: {
    family: 'Montserrat', sans-serif;
  }

  margin: {
    top: 22px;
    left: 13%;
    right: 19%;
    bottom: 7px;
  }
}
